version: "3.3"

networks:
  elasticsearch:
    driver: overlay

volumes:
  esdata:
  grafana:

services:

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.0.0
    environment:
      - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
      - "network.host=0.0.0.0"
      - "discovery.zen.ping.unicast.hosts=elasticsearch"
      - "xpack.security.enabled=false"
      - "xpack.monitoring.enabled=true"
      - "xpack.watcher.enabled=false"
      - "xpack.ml.enabled=false"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elasticsearch
    volumes:
      - esdata:/usr/share/elasticsearch/data
    deploy:
      mode: global
      endpoint_mode: dnsrr

  kibana:
    image: docker.elastic.co/kibana/kibana:6.0.0
    networks:
      - elasticsearch
    ports:
      - "5601:5601"
    environment:
      - "xpack.security.enabled=false"

  metricbeat:
    image: docker.elastic.co/beats/metricbeat:6.0.0
    command: metricbeat -e -c /metricbeat.yml -system.hostfs=/hostfs 
    user: root
    networks:
      - elasticsearch
    volumes:
      - /proc:/hostfs/proc:ro
      - /sys/fs/cgroup:/hostfs/sys/fs/cgroup:ro
      - /:/hostfs:ro
      - /var/run/docker.sock:/var/run/docker.sock
    configs:
      - metricbeat.yml
    deploy:
      mode: global

  grafana:
    image: grafana/grafana
    networks:
      - elasticsearch
    ports:
      - 3000:3000
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_DASHBOARD_JSON_ENABLED=true
      - GF_DASHBOARD_JSON_PATH=/opt/grafana
    volumes:
      - grafana:/var/lib/grafana

  portainer:
    image: portainer/portainer
    command: --no-auth --host=unix:///var/run/docker.sock
    ports:
      - 9000:9000
    networks:
      - elasticsearch
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
    deploy:
      placement:
        constraints:
         - node.role == manager

  logstash:
    image: docker.elastic.co/logstash/logstash:6.0.0
    command: sh -c "logstash -f /logstash/logstash.conf"
    environment:
      - "ELASTICSEARCH_URL=http://elasticsearch:9200"
      - "xpack.security.enabled=false"
      - "xpack.monitoring.enabled=true"
    networks:
      - elasticsearch
    ports:
      - "12201:12201/udp"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
    configs:
      - source: logstash-template
        target: /logstash/logstash-template.json
      - source: logstash-conf
        target: /logstash/logstash.conf

  unixbench:
    image: tutum/unixbench
    logging:
      driver: gelf
      options:
        gelf-address: "udp://127.0.0.1:12201"
        tag: "unixbench"
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: ${PORTAINER_CPUS:-0}
          memory: ${PORTAINER_MEMORY:-0}
        reservations:
          cpus: ${PORTAINER_CPUS:-0}
          memory: ${PORTAINER_MEMORY:-0}
    
configs:
  metricbeat.yml:
    external: true
  logstash-template:
    external: true
  logstash-conf:  
    external: true
